services:
  - type: web
    name: notespace
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn NoteSpace.wsgi:application
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
